-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: traffic_analysis
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `traffic_analysis`
--

DROP TABLE IF EXISTS `traffic_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `traffic_analysis` (
  `CRASH_RECORD_ID` text,
  `CRASH_DATE` text,
  `POSTED_SPEED_LIMIT` bigint DEFAULT NULL,
  `TRAFFIC_CONTROL_DEVICE` text,
  `DEVICE_CONDITION` text,
  `WEATHER_CONDITION` text,
  `LIGHTING_CONDITION` text,
  `FIRST_CRASH_TYPE` text,
  `TRAFFICWAY_TYPE` text,
  `ALIGNMENT` text,
  `ROADWAY_SURFACE_COND` text,
  `ROAD_DEFECT` text,
  `REPORT_TYPE` text,
  `CRASH_TYPE` text,
  `DAMAGE` text,
  `DATE_POLICE_NOTIFIED` text,
  `PRIM_CONTRIBUTORY_CAUSE` text,
  `SEC_CONTRIBUTORY_CAUSE` text,
  `STREET_NO` bigint DEFAULT NULL,
  `STREET_DIRECTION` text,
  `STREET_NAME` text,
  `BEAT_OF_OCCURRENCE` double DEFAULT NULL,
  `NUM_UNITS` bigint DEFAULT NULL,
  `MOST_SEVERE_INJURY` text,
  `INJURIES_TOTAL` double DEFAULT NULL,
  `INJURIES_FATAL` double DEFAULT NULL,
  `INJURIES_INCAPACITATING` double DEFAULT NULL,
  `INJURIES_NON_INCAPACITATING` double DEFAULT NULL,
  `INJURIES_REPORTED_NOT_EVIDENT` double DEFAULT NULL,
  `INJURIES_NO_INDICATION` double DEFAULT NULL,
  `INJURIES_UNKNOWN` double DEFAULT NULL,
  `CRASH_HOUR` bigint DEFAULT NULL,
  `CRASH_DAY_OF_WEEK` bigint DEFAULT NULL,
  `CRASH_MONTH` bigint DEFAULT NULL,
  `LATITUDE` double DEFAULT NULL,
  `LONGITUDE` double DEFAULT NULL,
  `LOCATION` text,
  `date` text,
  `year` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-23 22:11:41
